snippet future2 "Python2 future imports"
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function
endsnippet

snippet main
def main():
	$0

if __name__ == "__main__":
	main()
endsnippet
